AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

NEXT_PUBLIC_TOLGEE_API_KEY=
NEXT_PUBLIC_TOLGEE_API_URL=

DATABASE_URL=postgresql://ahachatai:nr541Kv59xB4f48bhZOy5wBz@localhost:5432/ahachatai?schema=public
